.circle-expenses {
  background: rgba(64, 78, 237, 0.342);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
  border: 2px solid rgba(0, 21, 247, 0.411);
  width: 200px; 
  height: 200px;
  border-radius: 50%;
  display: flex; /* or inline-flex */
  align-items: center; 
  justify-content: center;
}
ion-segment-button{
  --indicator-box-shadow: transparent!important;
  --color:white;
  --indicator-box-shadow: aqua;
  --color-checked: #5865F2;
  --indicator-color: #5865F2 !important; /* this solution 5865F2*/
  --indicator-height: 2px;
  --background-hover: white;

  }

 